{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h1 style="text-align: center; margin-top:80px; font-size:35pt;">Let Me Introduce Myself</h1>
<div class="container">
    <div class="row" id="row-about">
        <div class="column-about">
            <p style="font-size:20pt;">
                Hello! My name is Mlandvo Maphalala. I am a motivated and skilled Computer Science Graduate armed with a passion for problem-solving and a track
                record of excellence. I boast experience in analyzing and debugging code, facilitating interactive learning, and managing diverse projects.
                With training in progamming languages such as, Python, Java, C++, HTML, CSS and Assembly across multiple operating systems, I am confident in the work which
                I can produce. Visit the <strong><a href="projects">Projects</a></strong> page to view past and current projects.
            </p>
        </div>
        <div class="column-about">
            <p style="text-align: right;">some2</p>
        </div>
    </div>

</div>
{% endblock %}