{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="image">
            <img class="img-fluid" id="mainPic" src="static/picture2.png"/>
        </div>
        <div class="name">
            <h>Mlandvo<br>Maphalala</h>
            <div class="personalInfo">
                <ul>
                    <li><h1 style="font-size:35pt;">You Can Find Me On:</h2></li>
                    <li><a href="mailto:mlandvobmaphalala@gmail.com?subject=Hello! Let's Chat">mlandvobmaphalala@gmail.com</a></li>
                    <li><a href="https://www.linkedin.com/in/mlandvomaphalala">linkedin.com/in/mlandvomaphalala</a></li>
                    <li>GitHub</li>
                    <li><a href="tel:9107583015">(910)7583015</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}